<footer class="bg-white py-4 mt-auto fixed-bottom ">
    <div class="container px-5">
        <div class="row align-items-center justify-content-between flex-column flex-sm-row">
            <div class="col-auto"><div class="small m-0">Ein Projekt des Madsack-Datenteams.</div></div>
            <div class="col-auto">
                <a class="small" href="https://www.diemehrwertmacher.de/datenschutz/" 
                target="_blank">Datenschutz</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="https://www.diemehrwertmacher.de/impressum/"
                target="_blank">Impressum</a>
                <span class="mx-1">&middot;</span>
                <a class="small" href="https://www.diemehrwertmacher.de/kontakt/"
                target="_blank">Kontakt</a>
            </div>
        </div>
    </div>
</footer>
